pkgbase = media-tools-git
	pkgdesc = file clone tool
	pkgver = 0.0.0.1.1.1.r27.ge1072d00f2e5c1fa05562eeadca7688fee4499c8
	pkgrel = 1
	url = https://github.com/themartiancompany/media-tools
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = ffmpeg
	depends = libcrash-bash
	provides = media-tools=0.0.0.1.1.1.r27.ge1072d00f2e5c1fa05562eeadca7688fee4499c8
	conflicts = media-tools
	source = media-tools.tar.gz::https://github.com/themartiancompany/media-tools/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = media-tools-git
