pkgbase = media-tools-git
	pkgdesc = file clone tool
	pkgver = 1.1.1.1.r1.g2cd7bc8640842f7d1e87fc6d3f6d64077df798a3
	pkgrel = 1
	url = https://github.com/themartiancompany/media-tools
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = curl
	makedepends = jq
	depends = ffmpeg
	provides = media-tools=1.1.1.1.r1.g2cd7bc8640842f7d1e87fc6d3f6d64077df798a3
	conflicts = media-tools
	source = media-tools.tar.gz::https://github.com/themartiancompany/media-tools/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = media-tools-git
