pkgbase = media-tools-git
	pkgdesc = A collection of media manipulation scripts.
	pkgver = 0.0.0.1.1.1.1.r85.gd9d7294
	pkgrel = 1
	url = https://github.com/themartiancompany/media-tools
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = git
	depends = ffmpeg
	depends = libcrash-bash
	provides = media-tools=0.0.0.1.1.1.1.r85.gd9d7294
	conflicts = media-tools
	source = media-tools-master::git+https://github.com/themartiancompany/media-tools#branch=master
	sha256sums = SKIP

pkgname = media-tools-git
